//variables storing parts that will be used in many parts of the code 

// font-families
$primary-font: 'Bangers', cursive;
$secondary-font: 'Lato', sans-serif;

// colors
$primary-color: #061f2c;
$background-color-grey: #c9c1c1cb;
$secondary-color: #e2dcdce1;
$highlight: #ff9900;

//border
$border-radius: 5px;

//$primary-color: #0e191f